<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2" xmlns:py="http://genshi.edgewall.org/" >
<Document>
<NetworkLink>
        <name>NARC SCN</name>
        <description>NARC SCN</description>
        <Link>
                <href>http://localhost:8080/kmlinit</href>
        </Link>
</NetworkLink>
<NetworkLink>
        <name>NARC GE UPDATE</name>
        <description>NARC GE UPDATE</description>
        <Link id="updater">
                <href>http://localhost:8080/kml</href>
                <refreshMode>onInterval</refreshMode>
                <refreshInterval>1</refreshInterval>
        </Link>
</NetworkLink>
</Document>
</kml>

