<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2" xmlns:py="http://genshi.edgewall.org/" >
  <NetworkLinkControl>
    <Update>
      <targetHref>${baseurl}/kmlinit</targetHref>
      <Create>
        <Document targetId="narc">
          <Placemark py:for="item in create" id="A${item['id']}">
          <name py:content="item['name']">NAME</name>
              <styleUrl>#yellow</styleUrl>
            <description py:content="item['description']">
              DESCRIPTION
            </description>
            <Polygon py:replace="Markup(item['circle'])">PolyCircleCreate</Polygon>
          </Placemark>
        </Document>
      </Create>
        <py:for each="item in delete">
        <Delete>
        <Placemark py:replace="Markup(item['del'])">Place</Placemark>
      </Delete>
        </py:for>
    </Update>
  </NetworkLinkControl>
</kml>
